{% extends "base.html" %}

{% block title %}{{ book.title }} | Second Hand Book{% endblock %}

{% block nav_heading %}
  <span class="navbar-text ms-3">
    <h1 class="mb-0">
      <a href="{% url 'books:book_list' %}" class="text-decoration-none text-reset"><i class="fas fa-book me-5"></i>SECOND HAND BOOKS</a>
    </h1>
  </span>
{% endblock %}

{% block body_class %}book-detail-page{% endblock %}

{% block content %}
<div class="book-detail-card">
    {% if book.cover %}
      <img src="{{ book.cover.url }}" class="book-detail-img" alt="Cover of {{ book.title }}">
    {% endif %}
    <h1 >{{ book.title }}</h1>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Published Date:</strong> {{ book.published_date }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Description:</strong> {{ book.description|safe }}</p>
    <a href="{% url 'books:book_list' %}" class="btn btn-secondary">Back to all books</a>
  </div>
{% endblock %}

 
