{% extends "base.html" %}

{% block title %}

  All Books | Second Hand Book

{% endblock %}

{% block nav_heading %}
  <span class="navbar-text ms-3">
    <h1 class="mb-0"><i class="fas fa-book me-5"></i>SECOND HAND BOOKS</h1>
  </span>
{% endblock %}



{% block content %}

  <div class="book-list-bg">
  <ul>
  {% for book in books %}
    <li>
      <a href="{% url 'books:book_detail' slug=book.slug %}">{{ book.title }} by {{ book.author }}</a>
    </li>
  {% empty %}
    <li>No books available.</li>
  {% endfor %}
  </ul>
  </div>
{% endblock %}